{% extends 'base.html' %}
{% block contents %}

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-3 row-cols-sm-2 row-cols-md-3 g-3">
          {% for i in pics_num %}
              <div class="col">
              <div class="card shadow-sm">
                  <img src="/media/sample.jpg">
                <div class="card-body">
                  <p class="card-text">作成太郎 {{ forloop.counter }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}