{% extends 'base.html' %}

{% block theme %}
    投稿一覧
{% endblock %}

{% block contents %}
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-5 row-cols-sm-5 row-cols-md-5 g-3">
                {% for img in image_context_list %}
{#                    img_list_card.htmlにisCollapseを渡して表示#}
{#                    isCollapse: false (グルーピング画像無し)#}
{#                    isCollpase: true-open (グルーピング画像あり、初期表示する画像)#}
{#                    isCollpase: true-open (グルーピング画像あり、初期表示しない画像)#}
                    {% load index %}        {# templatetags/index.pyの関数を読み込み #}
                    {% if count|index_minus1:img.group == 1 %}
                            {# count[img.group]が1のとき (グループに属する画像が1枚だけのとき) #}
                            {% include "synqapp/includes/img_list_card.html" with isCollapse="false" %}
                    {% else %}
                        {% if pk_in_group|index:forloop.counter0 == 1 %}
                            {# グループに属する画像が複数枚で、その1番目の画像のとき #}
                            {% include "synqapp/includes/img_list_card.html" with isCollapse="true-open" %}
                        {% else %}
                            {# グループに属する画像が複数枚で、その2番目以降の画像のとき #}
                            {% include "synqapp/includes/img_list_card.html" with isCollapse="true-close" %}
                        {% endif %}
                    {% endif %}
                {% empty %}
                    まだ画像データがありません。
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
