{% extends 'base.html' %}
{% block contents %}

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">SynQ Album</h1>
        <p class="lead text-body-secondary">Welcome to SynQ Album!</p>
        <p class="lead text-body-secondary">写真をまとめ、ベストショットを提案します</p>

        <p>
          <a href="{% url 'synqapp:image_post' %}" class="btn btn-primary my-2">写真を投稿</a>
          <a href="{% url 'synqapp:image_list' %}" class="btn btn-secondary my-2">アルバム</a>
        </p>
      </div>
    </div>
  </section>

{% endblock %}